<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
      <% if user_signed_in? %>
       <div class="greeting">
         <%= "こんにちは、"%>
         <%= link_to "#{current_user.name}さん", new_user_session_path, class: :greeting__link%>
         <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
         <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
          </div>
         <% end %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      
    </div>
  </div>
</main>
